@charset "UTF-8";
/* CSS Document */

	#title {
		width: 100%;
		text-align: center;
		
		font-size:3em;
		margin:0%;
		padding-top: 0%;
		padding-bottom: 0%;
		
		background-size:cover;
		border-bottom:#FDFDFA 15px solid;
		/*text-decoration: underline;
		text-decoration-color: black;*/
		}


#wrapper {
	width: 96%;	
	height:96%;
	max-width: 1000px;
	margin: auto;
	padding: 1%;
	
	} 

/*NAV*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #567211;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10%;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2em;
    color: #FDFAFA;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*NAV DONE*/

@media screen and (min-width: 1200px) {

	
	#title, #main, #wrapper {
		
		margin: auto; 
		width: 50%;
		}	
		header nav li {
			margin: 0;
			
			display: block;
			margin-bottom: 5%;
			}
			header nav a {
				display: block;
				padding: 10px;
				text-align: center;
				}	
			
}

@font-face {
   font-family: myFirstFont;
   src: url(Monitorica-Rg.otf);
}

div {
   font-family: myFirstFont;
}

@font-face {
   font-family: my2Font;
   src: url(Segan-Light.ttf);
}

div {
   font-family: my2Font;
}

@font-face {
   font-family: my3Font;
   src: url(Modeka.otf);
}

div {
   font-family: my3Font;
}






